body{
    font-family: monospace;
    background-color:#08d8ab;
    color: white;
    line-height: 1.7;
    font-size: 20px;
}
header{
     background-color:#049faa;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: #03024d;
}
header p{
    margin-top: 10px;
}
section{
    background: rgb(102, 184, 102);
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}
h2{
    color: #03024d;
    margin-bottom: 15px;
    border-left: 5px solid #ffd700;
    padding-left: 10px;
    font-size: 30px;
    font-family: cursive;
}
h3{
    color: #1e3d59;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: sans-serif;
}

ul{
    margin-left: 25px;
}

footer{
    background: #03a3a8;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: rgb(147, 226, 200);
}
th{
     background-color:rgb(4, 143, 34);
    color: white;
    padding: 10px;
}

td{
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}